<main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">

    <!-- timeline -->
    <div class="lg:flex 2xl:gap-16 gap-12 max-w-[1065px] mx-auto"  id="js-oversized">

        <div class="max-w-[680px] mx-auto">

            <!-- stories -->
            <div class="mb-8">

                <h3 class="font-extrabold text-2xl  text-black dark:text-white hidden"> Stories</h3>

                <div class="relative" tabindex="-1" uk-slider="auto play: true;finite: true" uk-lightbox="">

                    <div class="py-5 uk-slider-container">                           
                        <ul class="uk-slider-items w-[calc(100%+14px)]" uk-scrollspy="target: > li; cls: uk-animation-scale-up; delay: 20;repeat:true">
                            <li class="md:pr-3" uk-scrollspy-class="uk-animation-fade">
                                <div class="md:w-16 md:h-16 w-12 h-12 rounded-full relative border-2 border-dashed grid place-items-center bg-slate-200 border-slate-300 dark:border-slate-700 dark:bg-dark2 shrink-0"
                                     uk-toggle="target: #create-story">
                                    <mat-icon >camera</mat-icon>
                                </div>
                            </li>
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300" *ngFor="let item of listAmis">
                              <a [href]="item.profilePictureUrl?item.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" data-caption="Caption 1">
                                  <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                      <img [src]="item.profilePictureUrl?item.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" alt="" class="absolute w-full h-full object-cover">
                                  </div>
                              </a>
                          </li>
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-1.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-2.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li>
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-2.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-3.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li> 
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-4.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-5.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li>
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-5.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-6.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li>
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-1.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-7.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li>
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-1.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-2.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li>
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-2.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-3.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li> 
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-4.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-5.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li>
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-5.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-6.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li>
                            <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                                <a href="assets/images/avatars/avatar-lg-1.jpg" data-caption="Caption 1">
                                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                                        <img src="assets/images/avatars/avatar-7.jpg" alt="" class="absolute w-full h-full object-cover">
                                    </div>
                                </a>
                            </li>
                            <li class="md:pr-3 pr-2">
                                <div class="md:w-16 md:h-16 w-12 h-12 bg-slate-200/60 rounded-full dark:bg-dark2 animate-pulse"></div>
                            </li>
                        </ul>
                
                      </div>
                
                    <div class="max-md:hidden">
                        <button type="button"
                          class="absolute -translate-y-1/2 bg-white shadow rounded-full top-1/2 -left-3.5 grid w-8 h-8 place-items-center dark:bg-dark3"
                          uk-slider-item="previous">
                          <mat-icon class="text-2xl">chevron_left</mat-icon>
                        </button>
                        <button type="button"
                          class="absolute -right-2 -translate-y-1/2 bg-white shadow rounded-full top-1/2 grid w-8 h-8 place-items-center dark:bg-dark3"
                          uk-slider-item="next">
                          <mat-icon class="text-2xl">chevron_right</mat-icon>
                        </button>
                      </div>


                </div>

            </div>


            <!-- feed story -->
            <div class="md:max-w-[580px] mx-auto flex-1 xl:space-y-6 space-y-3">

                
                
                <div class="flex justify-center gap-2">
                        <div class="w-full" *ngIf="reseaux.includes('AMICAL')">
                        <a
                        role="button"
                        (click)="getPubBySecteur('AMICAL')"
                        [class]="current_rss=='AMICAL'? 'button bg-green-500 text-white w-full' : 'button bg-white text-black border border-slate-200 w-full'">
                        <span class="flex justify-center items-center">
                        <mat-icon class="text-black">diversity_3</mat-icon>
                        </span>
                        </a>
                        </div>

                        <div class="w-full" *ngIf="reseaux.includes('PROFESSIONEL')">
                        <a
                        role="button"
                        (click)="getPubBySecteur('PROFESSIONEL')"
                        [class]="current_rss=='PROFESSIONEL'? 'button bg-yellow-500 text-white w-full' : 'button bg-white text-black border border-slate-200 w-full'">
                        <span class="flex justify-center items-center">
                            <mat-icon class="text-black">work</mat-icon>
                        </span>
                        </a>
                        </div>

                        <div class="w-full" *ngIf="reseaux.includes('AMOUREUSE')">
                        <a
                        role="button"
                        (click)="getPubBySecteur('AMOUREUSE')"
                        [class]="current_rss=='AMOUREUSE'? 'button bg-pink-600 text-white w-full' : 'button bg-white text-black border border-slate-200 w-full'">
                        <span class="flex justify-center items-center">
                        <mat-icon class="text-black">diversity_1</mat-icon>
                        </span>
                        </a>
                        </div>


                </div>


                <!--  post image-->
                <div class="bg-white rounded-xl shadow-sm text-sm font-medium border1 dark:bg-dark2" *ngFor="let item of liste">

                    <!-- post heading -->
                    <div class="flex gap-3 sm:p-4 p-2.5 text-sm font-medium">
                <a role="button" (click)="selectUser(item.utilisateur)"
                > <img [src]="item.utilisateur.profilePictureUrl?item.utilisateur.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" alt="" class="w-9 h-9 rounded-full">
                    </a>
                    <div class="flex-1">
                        <a >
                        <h4 class="text-black dark:text-white"> {{item.utilisateur.nom}}  </h4>
                        </a>
                        <div class="text-xs text-gray-500 dark:text-white/80">{{item.createdAt}}</div>
                    </div>
        
                    
                    </div>
        
                    <!--text -->
                    <div class="sm:px-4 p-2.5 pt-0">
                    <p class="font-normal"> 
                        {{item.message}}
                    </p>
                    </div>
        
                    <!-- post image -->
                    <a >
                    <div *ngIf="item.file" class="relative w-full lg:h-96 h-full sm:px-4">
                        <img [src]="item.file" alt="" class="sm:rounded-lg w-full h-full object-cover">
                    </div>
                    </a>
        
                    
        
                    <!-- post icons -->
                    <div class="sm:p-4 p-2.5 flex items-center gap-4 text-xs font-semibold">
                    <div>
                        <div class="flex items-center gap-2.5">
                        <button type="button" class="button-icon text-red-500 bg-red-100 dark:bg-slate-700">
                            <mat-icon>mood</mat-icon>
                        </button>
                        <a href="#">1,300</a>
                        </div>
                        <div class="p-1 px-2 bg-white rounded-full drop-shadow-md w-[212px] dark:bg-slate-700 text-2xl"
                        uk-drop="offset:10;pos: top-left; animate-out: true; animation: uk-animation-scale-up uk-transform-origin-bottom-left">
        
                        <div class="flex gap-2"
                            uk-scrollspy="target: > button; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
                            <button type="button" class="text-red-600 hover:scale-125 duration-300"> <span> 👍 </span></button>
                            <button type="button" class="text-red-600 hover:scale-125 duration-300"> <span> ❤️ </span></button>
                            <button type="button" class="text-red-600 hover:scale-125 duration-300"> <span> 😂 </span></button>
                            <button type="button" class="text-red-600 hover:scale-125 duration-300"> <span> 😯 </span></button>
                            <button type="button" class="text-red-600 hover:scale-125 duration-300"> <span> 😢 </span></button>
                        </div>
        
                        <div class="w-2.5 h-2.5 absolute -bottom-1 left-3 bg-white rotate-45 hidden"></div>
                        </div>
                    </div>
                    <div class="flex items-center gap-3">
                        <button type="button" class="button-icon bg-slate-200/70 dark:bg-slate-700">
                        <mat-icon>chat</mat-icon>
                        </button>
                        <span>260</span>
                    </div>
                    <button type="button" class="button-icon ml-auto">
                        <mat-icon class="text-xl" name="paper-plane-outline"></mat-icon>
                    </button>
                    <button type="button" class="button-icon">
                        <mat-icon class="text-xl" name="share-outline"></mat-icon>
                    </button>
                    </div>
        
                   
        
                    
                </div>

                

                <!-- post text-->
                

                <!-- placeholder -->
                <div class="rounded-xl shadow-sm p-4 space-y-4 bg-slate-200/40 animate-pulse border1 dark:bg-dark2">

                    <div class="flex gap-3">
                        <div class="w-9 h-9 rounded-full bg-slate-300/20"></div>
                        <div class="flex-1 space-y-3">
                            <div class="w-40 h-5 rounded-md bg-slate-300/20"></div>
                            <div class="w-24 h-4 rounded-md bg-slate-300/20"></div>
                        </div>
                        <div class="w-6 h-6 rounded-full bg-slate-300/20"></div>
                    </div>

                    <div class="w-full h-52 rounded-lg bg-slate-300/10 my-3"> </div>

                    <div class="flex gap-3">

                        <div class="w-16 h-5 rounded-md bg-slate-300/20"></div>

                        <div class="w-14 h-5 rounded-md bg-slate-300/20"></div>

                        <div class="w-6 h-6 rounded-full bg-slate-300/20 ml-auto"></div>
                        <div class="w-6 h-6 rounded-full bg-slate-300/20  "></div>
                    </div>

                </div>

            </div>

        </div>

        <!-- sidebar -->
        
        
    </div>
    
</main>


<!--  Modal Descriptif modal_descriptif-->
<div class="hidden lg:p-20 uk- open" id="modal_descriptif" uk-modal="" *ngIf="selected_user">
    <div class="uk-modal-dialog tt relative overflow-hidden mx-auto bg-white shadow-xl rounded-lg md:w-[520px] w-full dark:bg-dark2">
      <div class="text-center py-4 border-b mb-0 dark:border-slate-700">
        <h2 class="text-sm font-medium text-black"> Profile </h2>
        <!-- close button -->
        <button type="button" class="button-icon absolute top-0 right-0 m-2.5 uk-modal-close">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
  
      <!-- photo de profil -->
      <div class="flex md:gap-8 gap-4 items-center md:p-8 p-6 md:pb-4">
        <div class="relative md:w-20 md:h-20 w-12 h-12 shrink-0">
          <label for="file" class="cursor-pointer">
            <img id="img" [src]="selected_user.profilePictureUrl ? selected_user.profilePictureUrl : 'assets/images/avatars/avatar-3.jpg'" class="object-cover w-full h-full rounded-full" alt="" />
          </label>
        </div>
  
        <div class="flex-1">
          <h3 class="md:text-xl text-base font-semibold text-black dark:text-white"> {{selected_user.nom}} </h3>
          <p class="text-sm text-blue-600 mt-1 font-normal">{{selected_user.prenom}} </p>
        </div>
      </div>
      <!--Fin photo de profil -->
  
      <!-- form profil -->
      <div class="flex justify-center">
        <!-- Centrer le contenu horizontalement -->
        <div class="w-full max-w-md">
          <!-- Limiter la largeur pour éviter de toucher les bords -->
          <div class="space-y-6">
            <div class="flex items-center gap-4">
              <label class="w-32 text-right"> @username </label>
              <div class="flex-1">
                <input type="text" [(ngModel)]="selected_user.username" readonly class="w-full px-3 py-2 border rounded-lg">
              </div>
            </div>
  
            <div class="flex items-center gap-4">
              <label class="w-32 text-right"> Email </label>
              <div class="flex-1">
                <input type="text" [(ngModel)]="selected_user.email" class="w-full px-3 py-2 border rounded-lg">
              </div>
            </div>
  
            <div class="flex items-start gap-4">
              <label class="w-32 text-right"> Biographie </label>
              <div class="flex-1">
                <textarea class="w-full px-3 py-2 border rounded-lg" rows="5" [(ngModel)]="selected_user.experience"></textarea>
              </div>
            </div>
  
            <div class="flex items-center gap-4 mb-4">
              <label class="w-32 text-right"> sexe </label>
              <input type="text" [(ngModel)]="selected_user.sexe" class="w-full px-3 py-2 border rounded-lg">
            </div>
  
            <div class="flex items-center gap-4 mb-8"> <!-- Ajout de mb-4 ici -->
              <label class="w-32 text-right"> Date de naissance </label>
              <div class="flex-1">
                <input type="date" [(ngModel)]="selected_user.date_de_naissance" class="w-full px-3 py-2 border rounded-lg">
              </div>
            </div>
            <div class="flex items-center gap-4 mb-8" > <!-- Ajout de mb-4 ici -->
                
            </div>
          </div>
        </div>
      </div>
      <!-- Fin form profil -->
    </div>
  </div>
  

<!-- primngModal -->

<p-dialog header="Profil" [(visible)]="showProfile" [style]="{width:'50vw'}"   *ngIf="selected_user" >
    
    <div class="tt relative overflow-hidden mx-auto bg-white   md:w-[1000px] w-full ">
        <!-- photo de profil -->
        <div class="flex md:gap-8 gap-4 items-center md:p-8 p-6 md:pb-4">
          <div class="relative md:w-20 md:h-20 w-12 h-12 shrink-0">
            <label for="file" class="cursor-pointer">
              <img id="img" [src]="selected_user.profilePictureUrl ? selected_user.profilePictureUrl : 'assets/images/avatars/avatar-3.jpg'" class="object-cover w-full h-full rounded-full" alt="" />
            </label>
          </div>
    
          <div class="flex-1">
            <p>{{selected_user.nom}}  {{selected_user.prenom}}</p>
          </div>
        </div>
        <!--Fin photo de profil -->
    
        <!-- form profil -->
        <div class="flex justify-center">
          <!-- Centrer le contenu horizontalement -->
          <div class="w-full max-w-md">
            <!-- Limiter la largeur pour éviter de toucher les bords -->
            <div class="space-y-6">
             
    
              <div class="flex items-center gap-4">
                <label class="w-32 text-right"> Email </label>
                <div class="flex-1">
                  <input type="text" class="bg-white" [(ngModel)]="selected_user.email" class="w-full px-3 py-2 border rounded-lg" readonly>
                </div>
              </div>
    
              <div class="flex items-start gap-4">
                <label class="w-32 text-right"> Biographie </label>
                <div class="flex-1">
                  <textarea class="w-full px-3 py-2 border rounded-lg" rows="5" [(ngModel)]="selected_user.experience" readonly></textarea>
                </div>
              </div>
              <div class="flex items-start gap-4">
                <label class="md:w-32 text-right">Relation recherché </label>
                <div class="flex pl-6 items-center gap-4 flex-1">
                    <a role="button"                          
                     *ngIf="selected_user.reseaux.includes('AMICAL')" [class]="selected_user.reseaux.includes('AMICAL')?'button lg:px-6 bg-green-500 max-md:flex-1':'button lg:px-6 bg-secondery max-md:flex-1'">AMICAL</a>
                </div>
                <div class="flex pl-2 items-center gap-4 flex-1">
                    <a 
                    role="button"
                    *ngIf="selected_user.reseaux.includes('PROFESSIONEL')"                             
                    [class]="selected_user.reseaux.includes('PROFESSIONEL')?'button lg:px-6 bg-yellow-500 max-md:flex-1':'button lg:px-6 bg-yellow-500 max-md:flex-1'">PROFESSIONEL</a>
                </div>
                <div class="flex pl-2 items-center gap-4 flex-1">
                    <a 
                    role="button"
                    *ngIf="selected_user.reseaux.includes('AMOUREUSE')"                     
                    [class]="selected_user.reseaux.includes('AMOUREUSE')?'button lg:px-6 bg-pink-600 max-md:flex-1':'button lg:px-6 bg-secondery max-md:flex-1'">AMOUREUSE</a>
                </div>
            </div>
    
              <div class="flex items-center gap-4 mb-4">
                <label class="w-32 text-right"> sexe </label>
                <input type="text" [(ngModel)]="selected_user.sexe" class="w-full px-3 py-2 border rounded-lg" readonly>
              </div>
    
              <div class="flex items-center gap-4 mb-8"> <!-- Ajout de mb-4 ici -->
                <label class="w-32 text-right"> Date de naissance </label>
                <div class="flex-1">
                  <input type="date" [(ngModel)]="selected_user.date_de_naissance" class="w-full px-3 py-2 border rounded-lg" readonly>
                </div>
              </div>
              <div class="flex items-center gap-4 mb-8" > <!-- Ajout de mb-4 ici -->
              </div>
            </div>
          </div>
        </div>
        <!-- Fin form profil -->
    </div>
  </p-dialog>
  
