<div id="wrapper">

 

  <!-- main contents -->
  <main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">

    <div class="relative overflow-hidden border -m-2.5 dark:border-slate-700">

      <div class="flex bg-white dark:bg-dark2">

        <!-- sidebar -->
        <div class="md:w-[360px] relative border-r dark:border-slate-700">

          <div id="side-chat"
            class="top-0 left-0 max-md:fixed max-md:w-5/6 max-md:h-screen bg-white z-50 max-md:shadow max-md:-translate-x-full dark:bg-dark2">

            <!-- heading title -->
            <div class="p-4 border-b dark:border-slate-700">

              <div class="flex mt-2 items-center justify-between">

                <h2 class="text-2xl font-bold text-black ml-1 dark:text-white"> Messages </h2>

                <!-- right action buttons -->
                <div class="flex items-center gap-2.5">


                  <button class="group">

                  </button>
                  <div class="md:w-[270px] w-full"
                    uk-dropdown="pos: bottom-left; offset:10; animation: uk-animation-slide-bottom-small">
                    <nav>
                      <a href="#"> Mark all as read </a>
                      <a href="#"> notifications setting </a>
                      <a href="#"> Mute notifications </a>
                    </nav>
                  </div>

                  <button class="">

                  </button>

                  <!-- mobile toggle menu -->
                  <button type="button" class="md:hidden"
                    uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full">

                  </button>

                </div>

              </div>

              <!-- search -->
              <div class="relative mt-4">
                <div class="absolute left-3 bottom-1/2 translate-y-1/2 flex"></div>
                <input type="text" placeholder="Search" class="w-full !pl-10 !py-2 !rounded-lg">
              </div>

            </div>


            <!-- users list -->
            <div class="space-y-2 p-2 overflow-y-auto md:h-[calc(100vh-204px)] h-[calc(100vh-130px)]" >

              <a role="button" (click)="switch(item)" class="relative flex items-center gap-4 p-2 duration-200 rounded-xl hover:bg-secondery" *ngFor="let item of ListAmis">
                <div class="relative w-14 h-14 shrink-0">
                  <img  [src]="item.profilePictureUrl?item.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" alt="" class="object-cover w-full h-full rounded-full">
                  <div
                    class="w-4 h-4 absolute bottom-0 right-0  bg-green-500 rounded-full border border-white dark:border-slate-800">
                  </div>
                </div>
                <div class="flex-1 min-w-0">
                  <div class="flex items-center gap-2 mb-1.5">
                    <div class="mr-auto text-sm text-black dark:text-white font-medium">{{item.nom}} {{item.prenom}}</div>
                    
                  </div>
                  
                </div>
              </a>
            </div>

          </div>

          <!-- overly -->
          <div id="side-chat"
            class="bg-slate-100/40 backdrop-blur w-full h-full dark:bg-slate-800/40 z-40 fixed inset-0 max-md:-translate-x-full md:hidden"
            uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full"></div>

        </div>

        <!-- message center -->
        <div class="flex-1">

          <!-- chat heading -->
          <div
            class="flex items-center justify-between gap-2 w- px-6 py-3.5 z-10 border-b dark:border-slate-700 uk-animation-slide-top-medium">

            <div class="flex items-center sm:gap-4 gap-2">

              <!-- toggle for mobile -->
              <button type="button" class="md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full">

              </button>

              <div class="relative cursor-pointer max-md:hidden" uk-toggle="target: .rightt ; cls: hidden">
                <img [src]="selected_ami.profilePictureUrl?selected_ami.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" alt="" class="w-8 h-8 rounded-full shadow">
                <div class="w-2 h-2 bg-teal-500 rounded-full absolute right-0 bottom-0 m-px"></div>
              </div>
              <div class="cursor-pointer" uk-toggle="target: .rightt ; cls: hidden">
                <div class="text-base font-bold"> {{selected_ami.nom}}</div>
                <div class="text-xs text-green-500 font-semibold"> Online</div>
              </div>
            </div>



          </div>

          <!-- chats bubble -->
          <div class="w-full p-5 py-10 overflow-y-auto md:h-[calc(100vh-204px)] h-[calc(100vh-195px)]">

            <div class="py-10 text-center text-sm lg:pt-8">
              <img [src]="selected_ami.profilePictureUrl?selected_ami.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" class="w-24 h-24 rounded-full mx-auto mb-3" alt="">
              <div class="mt-8">
                <div class="md:text-xl text-base font-medium text-black dark:text-white"> {{selected_ami.nom}} </div>
                <div class="text-gray-500 text-sm   dark:text-white/80"> {{selected_ami.email}} </div>
              </div>
              <div class="mt-3.5">
                <a role="button"
                  (click)="voirProfile()"
                  class="inline-block rounded-lg px-4 py-1.5 text-sm font-semibold bg-secondery">View profile</a>
              </div>
            </div>

            <div class="text-sm font-medium space-y-6">

              <div *ngFor="let msg of List_messages">
                <!--recievied-->
                <div *ngIf="msg.type === 'received'" class="flex gap-3">
                  <img [src]="selected_ami.profilePictureUrl?selected_ami.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" alt="" class="w-9 h-9 rounded-full shadow">
                  <div class="px-4 py-2 rounded-[20px] max-w-sm bg-secondery" *ngIf="msg.content!=null"> toto {{ msg.content }} </div>
                  
                  <a class="block rounded-[18px] border overflow-hidden" *ngIf="msg.file!=null" [href]="msg.file" target="_blank">
                    <div class="max-w-md">
                        <div class="max-w-full relative w-72">
                            <div class="relative" style="padding-bottom: 57.4286%">
                                <div class="w-full h-full absolute inset-0">
                                    <img [src]="msg.file" alt="" class="block max-w-full max-h-52 w-full h-full object-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                 </a>

                </div>
              
                <!--sent-->

                <div *ngIf="msg.type === 'sent'" class="flex gap-2 flex-row-reverse items-end">
                  <img [src]="current_user.profilePictureUrl?current_user.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" alt="" class="w-5 h-5 rounded-full shadow">
                   <!--text message-->
                  <div  *ngIf="msg.content!=null" class="px-4 py-2 rounded-[20px] max-w-sm bg-gradient-to-tr from-sky-500 to-blue-500 text-white shadow">
                    {{ msg.content }}
                  </div>
                  <!--img message-->
                  <a class="block rounded-[18px] border overflow-hidden" *ngIf="msg.file!=null" [href]="msg.file" target="_blank">
                    <div class="max-w-md">
                        <div class="max-w-full relative w-72">
                            <div class="relative" style="padding-bottom: 57.4286%">
                                <div class="w-full h-full absolute inset-0">
                                    <img [src]="msg.file" alt="" class="block max-w-full max-h-52 w-full h-full object-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                 </a>

                </div>
                
              </div>

            <!--
            
                <div *ngIf="file_url">
                <div class="flex gap-2 flex-row-reverse items-end">
                  <img [src]="current_user.profilePictureUrl?current_user.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" alt="" class="w-4 h-4 rounded-full shadow">
             
                  <a class="block rounded-[18px] border overflow-hidden" [href]="file_url" target="_blank">
                      <div class="max-w-md">
                          <div class="max-w-full relative w-72">
                              <div class="relative" style="padding-bottom: 57.4286%">
                                  <div class="w-full h-full absolute inset-0">
                                      <img [src]="file_url" alt="" class="block max-w-full max-h-52 w-full h-full object-cover">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div> 


              </div>
             
            -->

            </div>

          </div>

          <!-- sending message area -->
          <div class="flex items-center md:gap-4 gap-2 md:p-3 p-2 overflow-hidden">

            <div id="message__wrap" class="flex items-center gap-2 h-full dark:text-white -mt-1.5">

              <button type="button" class="shrink-0">
                <mat-icon>add_circle</mat-icon>
              </button>
              <div
                class="dropbar pt-36 h-60 bg-gradient-to-t via-white from-white via-30% from-30% dark:from-slate-900 dark:via-900"
                uk-drop="stretch: x; target: #message__wrap ;animation:  slide-bottom ;animate-out: true; pos: top-left; offset:10 ; mode: click ; duration: 200">

                <div class="sm:w-full p-3 flex justify-center gap-5"
                  uk-scrollspy="target: > button; cls: uk-animation-slide-bottom-small; delay: 100;repeat:true">

                  <button type="button"
                  (click)="triggerFileInput()"
                    class="bg-sky-50 text-sky-600 border border-sky-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0">
                  <mat-icon>image</mat-icon>
                  </button>
                  <input #fileInput  type="file" class="hidden" (change)="onFileSelected($event)" hidden />
                  


                </div>

              </div>

              <button type="button" class="shrink-0">
               <mat-icon>mood</mat-icon>
              </button>
              <div class="dropbar p-2"
                uk-drop="stretch: x; target: #message__wrap ;animation: uk-animation-scale-up uk-transform-origin-bottom-left ;animate-out: true; pos: top-left ; offset:2; mode: click ; duration: 200 ">

                <div class="sm:w-60 bg-white shadow-lg border rounded-xl  pr-0 dark:border-slate-700 dark:bg-dark3">

                  <h4 class="text-sm font-semibold p-3 pb-0">Send Imogi</h4>

                  <div class="grid grid-cols-5 overflow-y-auto max-h-44 p-3 text-center text-xl">

                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😊')"> 😊
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('🤩')"> 🤩
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😎')"> 😎
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('🥳')"> 🥳
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😂')"> 😂
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('🥰')"> 🥰
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😡')"> 😡
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😊')"> 😊
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('🤩')"> 🤩
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😎')"> 😎
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('🥳')"> 🥳
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😂')"> 😂
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('🥰')"> 🥰
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😡')"> 😡
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('🤔')"> 🤔
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😊')"> 😊
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('🤩')"> 🤩
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😎')"> 😎
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('🥳')"> 🥳
                    </div>
                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200" (click)="addEmoji('😂')"> 😂
                    </div>

                  </div>


                </div>

              </div>

            </div>

            <div class="relative flex-1">
              <textarea [(ngModel)]="message.content" name="content" placeholder="Write your message" rows="1"
                class="w-full resize-none bg-secondery rounded-full px-4 p-2"></textarea>

              <button type="button" (click)="sendMessage()" class="text-white shrink-0 p-2 absolute right-0.5 top-0">
                <mat-icon>send</mat-icon>
              </button>

            </div>

            <button type="button" class="flex h-full dark:text-white">

            </button>

          </div>

        </div>

        <!-- user profile right info -->
        <div class="rightt w-full h-full absolute top-0 right-0 z-10 hidden transition-transform">
          <div
            class="w-[360px] border-l shadow-lg h-screen bg-white absolute right-0 top-0 uk-animation-slide-right-medium delay-200 z-50 dark:bg-dark2 dark:border-slate-700">

            <div class="w-full h-1.5 bg-gradient-to-r to-purple-500 via-red-500 from-pink-500 -mt-px"></div>

            <div class="py-10 text-center text-sm pt-20">
              <img src="assets/images/avatars/avatar-3.jpg" class="w-24 h-24 rounded-full mx-auto mb-3" alt="">
              <div class="mt-8">
                <div class="md:text-xl text-base font-medium text-black dark:text-white"> Monroe Parker </div>
                <div class="text-gray-500 text-sm mt-1 dark:text-white/80">@Monroepark</div>
              </div>
              <div class="mt-5">
                <a href="timeline.html"
                  class="inline-block rounded-full px-4 py-1.5 text-sm font-semibold bg-secondery">View profile</a>
              </div>
            </div>

            <hr class="opacity-80 dark:border-slate-700">

            <ul class="text-base font-medium p-3">
              <li>
                <div class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery">
                  Mute Notification
                  <label class="switch cursor-pointer ml-auto"> <input type="checkbox" checked><span
                      class="switch-button !relative"></span></label>
                </div>
              </li>
              <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery">
                  Report </button></li>
              <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery">
                  Ignore messages </button> </li>
              <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> Block
                </button> </li>
              <li> <button type="button"
                  class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-red-50 text-red-500"> Delete Chat
                </button> </li>
            </ul>

            <!-- close button -->
            <button type="button" class="absolute top-0 right-0 m-4 p-2 bg-secondery rounded-full"
              uk-toggle="target: .rightt ; cls: hidden">

            </button>

          </div>

          <!-- overly -->
          <div class="bg-slate-100/40 backdrop-blur absolute w-full h-full dark:bg-slate-800/40"
            uk-toggle="target: .rightt ; cls: hidden"></div>

        </div>

      </div>

    </div>

  </main>

  
<p-dialog header="Profil" [(visible)]="showProfile" [style]="{width:'50vw'}"   *ngIf="selected_user" >
    
  <div class="tt relative overflow-hidden mx-auto bg-white   md:w-[1000px] w-full ">
      <!-- photo de profil -->
      <div class="flex md:gap-8 gap-4 items-center md:p-8 p-6 md:pb-4">
        <div class="relative md:w-20 md:h-20 w-12 h-12 shrink-0">
          <label for="file" class="cursor-pointer">
            <img id="img" [src]="selected_user.profilePictureUrl ? selected_user.profilePictureUrl : 'assets/images/avatars/avatar-3.jpg'" class="object-cover w-full h-full rounded-full" alt="" />
          </label>
        </div>
  
        <div class="flex-1">
          <p>{{selected_user.nom}}  {{selected_user.prenom}}</p>
        </div>
      </div>
      <!--Fin photo de profil -->
  
      <!-- form profil -->
      <div class="flex justify-center">
        <!-- Centrer le contenu horizontalement -->
        <div class="w-full max-w-md">
          <!-- Limiter la largeur pour éviter de toucher les bords -->
          <div class="space-y-6">
           
  
            <div class="flex items-center gap-4">
              <label class="w-32 text-right"> Email </label>
              <div class="flex-1">
                <input type="text"  style="background-color:rgb(179, 182, 182);" [(ngModel)]="selected_user.email" class="w-full px-3 py-2 border rounded-lg " readonly>
              </div>
            </div>
  
            <div class="flex items-start gap-4">
              <label class="w-32 text-right"> Biographie </label>
              <div class="flex-1">
                <textarea class="w-full px-3 py-2 border rounded-lg" style="background-color:rgb(179, 182, 182);" rows="5" [(ngModel)]="selected_user.experience" readonly></textarea>
              </div>
            </div>
            <div class="flex items-start gap-4">
              <label class="md:w-32 text-right">Relation </label>
              <div class="flex pl-6 items-center gap-4 flex-1">
                  <a role="button"                          
                   *ngIf="selected_user.reseaux.includes('AMICAL')" [class]="selected_user.reseaux.includes('AMICAL')?'button lg:px-6 bg-green-500 max-md:flex-1':'button lg:px-6 bg-secondery max-md:flex-1'">AMICAL</a>
              </div>
              <div class="flex pl-2 items-center gap-4 flex-1">
                  <a 
                  role="button"
                  *ngIf="selected_user.reseaux.includes('PROFESSIONEL')"                             
                  [class]="selected_user.reseaux.includes('PROFESSIONEL')?'button lg:px-6 bg-yellow-500 max-md:flex-1':'button lg:px-6 bg-yellow-500 max-md:flex-1'">PROFESSIONEL</a>
              </div>
              <div class="flex pl-2 items-center gap-4 flex-1">
                  <a 
                  role="button"
                  *ngIf="selected_user.reseaux.includes('AMOUREUSE')"                     
                  [class]="selected_user.reseaux.includes('AMOUREUSE')?'button lg:px-6 bg-pink-600 max-md:flex-1':'button lg:px-6 bg-secondery max-md:flex-1'">AMOUREUSE</a>
              </div>
          </div>
  
            <div class="flex items-center gap-4 mb-4">
              <label class="w-32 text-right"> sexe </label>
              <input type="text" [(ngModel)]="selected_user.sexe" style="background-color:rgb(179, 182, 182);" class="w-full px-3 py-2 border rounded-lg" readonly>
            </div>

            <div class="flex items-center gap-4 mb-4">
              <label class="w-32 text-right"> statut </label>
              <input type="text" [(ngModel)]="selected_user.statusMatri" style="background-color:rgb(179, 182, 182);" class="w-full px-3 py-2 border rounded-lg" readonly>
            </div>
  
            <div class="flex items-center gap-4 mb-8"> <!-- Ajout de mb-4 ici -->
              <label class="w-32 text-right">Naissance </label>
              <div class="flex-1">
                <input type="date" [(ngModel)]="selected_user.date_de_naissance" style="background-color:rgb(179, 182, 182);"  class="w-full px-3 py-2 border rounded-lg" readonly>
              </div>
            </div>
            <div class="flex items-center gap-4 mb-8" > <!-- Ajout de mb-4 ici -->
            </div>
          </div>
        </div>
      </div>
      <!-- Fin form profil -->
  </div>
</p-dialog>


</div>
