<main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">

  <!-- timeline -->
  <div class="lg:flex 2xl:gap-16 gap-12 max-w-[1065px] mx-auto" id="js-oversized">

    <div class="max-w-[680px] mx-auto">

      <!-- stories -->
      <div class="mb-8">

        <h3 class="font-extrabold text-2xl  text-black dark:text-white hidden"> Stories</h3>

        <div class="relative" tabindex="-1" uk-slider="auto play: true;finite: true" uk-lightbox="">

         <div class="py-5 uk-slider-container">                           
          <ul class="uk-slider-items w-[calc(100%+14px)]" uk-scrollspy="target: > li; cls: uk-animation-scale-up; delay: 20;repeat:true">
              <li class="md:pr-3" uk-scrollspy-class="uk-animation-fade">
                  <div class="md:w-16 md:h-16 w-12 h-12 rounded-full relative border-2 border-dashed grid place-items-center bg-slate-200 border-slate-300 dark:border-slate-700 dark:bg-dark2 shrink-0"
                       uk-toggle="target: #create-story">
                      <mat-icon >camera</mat-icon>
                  </div>
              </li>
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300" *ngFor="let item of listAmis">
                <a [href]="item.profilePictureUrl?item.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" data-caption="Caption 1">
                    <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                        <img [src]="item.profilePictureUrl?item.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" alt="" class="absolute w-full h-full object-cover">
                    </div>
                </a>
            </li>
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-1.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-2.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li>
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-2.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-3.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li> 
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-4.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-5.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li>
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-5.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-6.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li>
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-1.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-7.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li>
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-1.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-2.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li>
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-2.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-3.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li> 
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-4.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-5.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li>
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-5.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-6.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li>
              <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300">
                  <a href="assets/images/avatars/avatar-lg-1.jpg" data-caption="Caption 1">
                      <div class="md:w-16 md:h-16 w-12 h-12 relative md:border-4 border-2 shadow border-white rounded-full overflow-hidden dark:border-slate-700">
                          <img src="assets/images/avatars/avatar-7.jpg" alt="" class="absolute w-full h-full object-cover">
                      </div>
                  </a>
              </li>
              <li class="md:pr-3 pr-2">
                  <div class="md:w-16 md:h-16 w-12 h-12 bg-slate-200/60 rounded-full dark:bg-dark2 animate-pulse"></div>
              </li>
          </ul>
  
        </div>

         

          <div class="max-md:hidden">
            <button type="button"
              class="absolute -translate-y-1/2 bg-white shadow rounded-full top-1/2 -left-3.5 grid w-8 h-8 place-items-center dark:bg-dark3"
              uk-slider-item="previous">
              <mat-icon class="text-2xl">chevron_left</mat-icon>
            </button>
            <button type="button"
              class="absolute -right-2 -translate-y-1/2 bg-white shadow rounded-full top-1/2 grid w-8 h-8 place-items-center dark:bg-dark3"
              uk-slider-item="next">
              <mat-icon class="text-2xl">chevron_right</mat-icon>
            </button>
          </div>


        </div>

      </div>

      <!-- feed story -->
      <div class="md:max-w-[580px] mx-auto flex-1 xl:space-y-6 space-y-3">

        <!-- add story -->
        <div class="bg-white rounded-xl shadow-sm md:p-4 p-2 space-y-4 text-sm font-medium border1 dark:bg-dark2">

          <div class="flex items-center md:gap-3 gap-1">
            <div class="flex-1 bg-slate-100 hover:bg-opacity-80 transition-all rounded-lg cursor-pointer dark:bg-dark3"
              uk-toggle="target: #reseautage">
              <div class="py-2.5 text-center dark:text-white"> Qu'as-tu en tête ? </div>
            </div>
            <!-- <span uk-toggle="target: #reseautage">Test</span> -->
            <div
              class="cursor-pointer hover:bg-opacity-80 p-1 px-1.5 rounded-xl transition-all bg-pink-100/60 hover:bg-pink-100 dark:bg-white/10 dark:hover:bg-white/20"
              uk-toggle="target: #reseautage">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 stroke-pink-600 fill-pink-200/70"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M15 8h.01" />
                <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
                <path d="M3.5 15.5l4.5 -4.5c.928 -.893 2.072 -.893 3 0l5 5" />
                <path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l2.5 2.5" />
              </svg>
            </div>
            <div
              class="cursor-pointer hover:bg-opacity-80 p-1 px-1.5 rounded-xl transition-all bg-sky-100/60 hover:bg-sky-100 dark:bg-white/10 dark:hover:bg-white/20"
              uk-toggle="target: #reseautage">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 stroke-sky-600 fill-sky-200/70 "
                viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z" />
                <path d="M3 6m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
              </svg>
            </div>
          </div>

        </div>

        <!--  post image-->
        <div class="bg-white rounded-xl shadow-sm text-sm font-medium border1 dark:bg-dark2" *ngFor="let item of liste">

          <!-- post heading -->
          <div class="flex gap-3 sm:p-4 p-2.5 text-sm font-medium">
          <a > <img [src]="item.utilisateur.profilePictureUrl?item.utilisateur.profilePictureUrl:'assets/images/avatars/avatar-3.jpg'" alt="" class="w-9 h-9 rounded-full">
          </a>
          <div class="flex-1">
              <a >
              <h4 class="text-black dark:text-white"> {{item.utilisateur.nom}}  </h4>
              </a>
              <div class="text-xs text-gray-500 dark:text-white/80">{{item.createdAt}}</div>
          </div>

          <div class="-mr-1">
              <button type="button" class="button-icon w-8 h-8">
              <span class="material-icons text-xl">more_horiz</span>
              </button>
              <div class="w-[245px]"
              uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click">
              <nav>
                  <a 
                  (click)="getDataToUpdate(item)"
                  uk-toggle="target: #updateR"
                  >
                  <mat-icon style="background-color: orange;"> edit</mat-icon> modifier
                  </a>
                  <a 
                  role="button"
                  (click)="delete(item.id)"
                  >                   
                  <mat-icon style="background-color: red;"> delete</mat-icon> suprimer
                  </a>
                  
              </nav>
              </div>
          </div>

          </div>

          <!--text -->
          <div class="sm:px-4 p-2.5 pt-0">
          <p class="font-normal"> 
              {{item.message}}
          </p>
          </div>

          <!-- post image -->
          <a href="#preview_modal" uk-toggle>
          <div *ngIf="item.file" class="relative w-full lg:h-96 h-full sm:px-4">
              <img [src]="item.file" alt="" class="sm:rounded-lg w-full h-full object-cover">
          </div>
          </a>

          

          <!-- post icons -->
          <div class="sm:p-4 p-2.5 flex items-center gap-4 text-xs font-semibold">
          <div>
              <div class="flex items-center gap-2.5">
              <button type="button" class="button-icon text-red-500 bg-red-100 dark:bg-slate-700">
                  <mat-icon>mood</mat-icon>
              </button>
              <a href="#">{{item.likes.length}}</a>
              </div>
              <div class="p-1 px-2 bg-white rounded-full drop-shadow-md w-[212px] dark:bg-slate-700 text-2xl"
              uk-drop="offset:10;pos: top-left; animate-out: true; animation: uk-animation-scale-up uk-transform-origin-bottom-left">

              <div class="flex gap-2"
                  uk-scrollspy="target: > button; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
                  <button type="button" class="text-red-600 hover:scale-125 duration-300" > <span> 👍 </span></button>
                  <button type="button" class="text-red-600 hover:scale-125 duration-300"  > <span> 👎 </span></button>
              </div>

              <div class="w-2.5 h-2.5 absolute -bottom-1 left-3 bg-white rotate-45 hidden"></div>
              </div>
          </div>
          <div class="flex items-center gap-3">
              <button type="button" class="button-icon bg-slate-200/70 dark:bg-slate-700">
              <mat-icon >chat</mat-icon>
              </button>
              <span>{{item.commentaires.length}}</span>
          </div>
          <button type="button" class="button-icon ml-auto">
              <mat-icon class="text-xl" name="paper-plane-outline"></mat-icon>
          </button>
          <button type="button" class="button-icon">
              <mat-icon class="text-xl" name="share-outline"></mat-icon>
          </button>
          </div>

          
      </div>

      
        <!-- placeholder -->
        <div class="rounded-xl shadow-sm p-4 space-y-4 bg-slate-200/40 animate-pulse border1 dark:bg-dark2">

          <div class="flex gap-3">
            <div class="w-9 h-9 rounded-full bg-slate-300/20"></div>
            <div class="flex-1 space-y-3">
              <div class="w-40 h-5 rounded-md bg-slate-300/20"></div>
              <div class="w-24 h-4 rounded-md bg-slate-300/20"></div>
            </div>
            <div class="w-6 h-6 rounded-full bg-slate-300/20"></div>
          </div>

          <div class="w-full h-52 rounded-lg bg-slate-300/10 my-3"> </div>

          <div class="flex gap-3">

            <div class="w-16 h-5 rounded-md bg-slate-300/20"></div>

            <div class="w-14 h-5 rounded-md bg-slate-300/20"></div>

            <div class="w-6 h-6 rounded-full bg-slate-300/20 ml-auto"></div>
            <div class="w-6 h-6 rounded-full bg-slate-300/20  "></div>
          </div>

        </div>

      </div>

    </div>

  
  </div>

</main>

<!-- RESEAUTAGE MODAL -->
<div class="hidden lg:p-20 uk- open" id="reseautage" uk-modal="">
  <div
    class="uk-modal-dialog tt relative overflow-hidden mx-auto bg-white shadow-xl rounded-lg md:w-[520px] w-full dark:bg-dark2">

    <div class="text-center py-4 border-b mb-0 dark:border-slate-700">
      <h2 class="text-sm font-medium text-black"> Publication </h2>
      <!-- close button -->
      <button type="button" (click)="closbtn()" class="button-icon absolute top-0 right-0 m-2.5 uk-modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <!-- Step Publication -->
    <!-- form -->
    <form method="#" action="#" class="space-y-7 text-sm text-black font-medium dark:text-white"
      uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">

      <div *ngIf="step==1" class="grid grid-cols-2 gap-4 gap-y-7">

        <div class="mx-auto" *ngIf="reseaux.includes('AMICAL')">
          <label for="amical" class="block text-center mb-2">AMICAL</label>
          <a (click)="choix('AMICAL')"
            [class]="TypeChoisit=='AMICAL' ? 'button bg-green-500 text-white w-full' : 'button bg-white text-black border border-slate-200 w-full'">
            <span class="flex justify-center items-center">
              <mat-icon class="text-black">diversity_3</mat-icon>
            </span>
          </a>
        </div>

        <div class="mx-auto" *ngIf="reseaux.includes('PROFESSIONEL')">
          <label for="professionnel" class="block text-center mb-2">PROFESSIONEL</label>
          <a (click)="choix('PROFESSIONEL')"
            [class]="TypeChoisit=='PROFESSIONEL' ? 'button bg-yellow-500 text-white w-full' : 'button bg-white text-black border border-slate-200 w-full'">
            <span class="flex justify-center items-center">
              <mat-icon class="text-black">work</mat-icon>
            </span>
          </a>
        </div>

        <div class="col-span-2 mx-auto" *ngIf="reseaux.includes('AMOUREUSE')">
          <label for="amoureuse" class="block text-center mb-2">AMOUREUSE</label>
          <a (click)="choix('AMOUREUSE')"
            [class]="TypeChoisit=='AMOUREUSE' ? 'button bg-pink-600 text-white w-full' : 'button bg-white text-black border border-slate-200 w-full'">
            <span class="flex justify-center items-center">
              <mat-icon class="text-black">diversity_1</mat-icon>
            </span>
          </a>
        </div>

        <!-- Boutons suivant et précédant avec espacement -->
        <div class="col-span-2  flex justify-center space-x-8 pt-6">
          <button (click)="changeStep()" class="button bg-black text-white w-100 max-w-xs mx-auto">
            suivant
            <span class="flex justify-center items-center">
              <mat-icon>arrow_forward</mat-icon>
            </span>
          </button>
        </div>
      </div>

      <div *ngIf="step==2"
        class=" tt relative overflow-hidden mx-auto bg-white  rounded-lg md:w-[620px] w-full dark:bg-dark2">

        <div class="space-y-5 mt-3 p-2">
          <textarea
            class="w-full !text-black placeholder:!text-black !bg-white !border-transparent focus:!border-transparent focus:!ring-transparent !font-normal !text-xl   dark:!text-white dark:placeholder:!text-white dark:!bg-slate-800"
            name="text" id="" [(ngModel)]="text.message" name="message" rows="6" placeholder="What do you have in mind?"></textarea>
        </div>

        <div *ngIf="file_url" class="flex justify-center">
          <img [src]="file_url" alt="" style="width:500px; height:200px;">
        </div>

        <div class="flex items-center gap-2 text-sm py-2 px-4 font-medium flex-wrap">
          <button type="button"
          (click)="triggerFileInput()"
            class="flex items-center gap-1.5 bg-sky-50 text-sky-600 rounded-full py-1 px-2 border-2 border-sky-100 dark:bg-sky-950 dark:border-sky-900">
            <span class="material-icons ">image</span> <!-- Taille réduite ici -->
            Image
            <input #fileInput  type="file" class="hidden" (change)="onFileSelected($event)" hidden />
          </button>
          
        
   
          
        </div>

        <div class="p-5 flex justify-between items-center">
          <div>
            <button (click)="changeStep()" class="button bg-black text-white w-100 max-w-xs mx-auto">
              <span class="flex justify-center items-center">
                <mat-icon>arrow_back</mat-icon>
              </span>
              précédent
            </button>
          </div>
          <div>
            
            
          </div>
          <div class="flex items-center gap-2">
            <a role="button" (click)="addPub()" class="button bg-primary text-white py-2 px-12 text-[14px]"> Publier</a>
          </div>
        </div>
       
      </div>

    </form>


  </div>

</div>


<!-- UPDATE RESEAUTAGE MODAL -->
<div class="hidden lg:p-20 uk- open" id="updateR" uk-modal="">
  <div
    class="uk-modal-dialog tt relative overflow-hidden mx-auto bg-white shadow-xl rounded-lg md:w-[520px] w-full dark:bg-dark2">

    <div class="text-center py-4 border-b mb-0 dark:border-slate-700">
      <h2 class="text-sm font-medium text-black"> Publication </h2>
      <!-- close button -->
      <button type="button" (click)="closbtn()" class="button-icon absolute top-0 right-0 m-2.5 uk-modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <!-- Step Publication -->
    <!-- form -->
    <form method="#" action="#" class="space-y-7 text-sm text-black font-medium dark:text-white"
      uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">

      <div *ngIf="step==1" class="grid grid-cols-2 gap-4 gap-y-7">

        <div class="mx-auto" *ngIf="reseaux.includes('AMICAL')">
          <label for="amical" class="block text-center mb-2">AMICAL</label>
          <a (click)="choix('AMICAL')"
            [class]="TypeChoisit=='AMICAL' ? 'button bg-green-500 text-white w-full' : 'button bg-white text-black border border-slate-200 w-full'">
            <span class="flex justify-center items-center">
              <mat-icon class="text-black">diversity_3</mat-icon>
            </span>
          </a>
        </div>

        <div class="mx-auto" *ngIf="reseaux.includes('PROFESSIONEL')">
          <label for="professionnel" class="block text-center mb-2">PROFESSIONEL</label>
          <a (click)="choix('PROFESSIONEL')"
            [class]="TypeChoisit=='PROFESSIONEL' ? 'button bg-yellow-500 text-white w-full' : 'button bg-white text-black border border-slate-200 w-full'">
            <span class="flex justify-center items-center">
              <mat-icon class="text-black">work</mat-icon>
            </span>
          </a>
        </div>

        <div class="col-span-2 mx-auto" *ngIf="reseaux.includes('AMOUREUSE')">
          <label for="amoureuse" class="block text-center mb-2">AMOUREUSE</label>
          <a (click)="choix('AMOUREUSE')"
            [class]="TypeChoisit=='AMOUREUSE' ? 'button bg-pink-600 text-white w-full' : 'button bg-white text-black border border-slate-200 w-full'">
            <span class="flex justify-center items-center">
              <mat-icon class="text-black">diversity_1</mat-icon>
            </span>
          </a>
        </div>

        <!-- Boutons suivant et précédant avec espacement -->
        <div class="col-span-2 flex justify-center space-x-8 pt-6">
          <button (click)="changeStep()" class="button bg-black text-white w-100 max-w-xs mx-auto">
            suivant
            <span class="flex justify-center items-center">
              <mat-icon>arrow_forward</mat-icon>
            </span>
          </button>
        </div>
      </div>

      <div *ngIf="step==2"
        class=" tt relative overflow-hidden mx-auto bg-white  rounded-lg md:w-[620px] w-full dark:bg-dark2">

        <div class="space-y-5 mt-3 p-2">
          <textarea
            class="w-full !text-black placeholder:!text-black !bg-white !border-transparent focus:!border-transparent focus:!ring-transparent !font-normal !text-xl   dark:!text-white dark:placeholder:!text-white dark:!bg-slate-800"
            name="text" id="" [(ngModel)]="text.message" name="message" rows="6" placeholder="What do you have in mind?"></textarea>
        </div>

        <div *ngIf="file_url" class="flex justify-center">
          <img [src]="file_url" alt="" style="width:500px; height:200px;">
        </div>

        <div class="flex items-center gap-2 text-sm py-2 px-4 font-medium flex-wrap">
          <button type="button"
          (click)="triggerFileInput()"
            class="flex items-center gap-1.5 bg-sky-50 text-sky-600 rounded-full py-1 px-2 border-2 border-sky-100 dark:bg-sky-950 dark:border-sky-900">
            <span class="material-icons ">image</span> <!-- Taille réduite ici -->
            Image
            <input #fileInput  type="file" class="hidden" (change)="onFileSelected($event)" hidden />
          </button>
          
          
        </div>

        <div class="p-5 flex justify-between items-center">
          <div>
            <button (click)="changeStep()" class="button bg-black text-white w-100 max-w-xs mx-auto">
              <span class="flex justify-center items-center">
                <mat-icon>arrow_back</mat-icon>
              </span>
              précédent
            </button>
          </div>
          <div>
            

          </div>
          <div class="flex items-center gap-2">
            <a role="button" (click)="update()" class="button bg-primary text-white py-2 px-12 text-[14px]"> Modifier</a>
          </div>
        </div>
      </div>
    
    </form>
  </div>
</div>